@media (min-width: 768px) {
    .search-nner .button {
        padding-left: 0; /* Remove extra padding */
    }
    .search-nner .btn-common {
        width: 100%; /* Make button fill container */
    }
}

/* For extra small screens */
@media (max-width: 767px) {
    .search-nner .button {
        margin-top: 15px;
    }
}
